<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Home{% endblock %} - principia-web</title>
		<meta name="viewport" content="width=1000, initial-scale=1">
		<link rel="stylesheet" href="/assets/css/{% if userdata.darkmode %}darkmode{% else %}style{% endif %}.css?v=2" type="text/css">
		{% if acmlm %}<script defer src="/forum/assets/js/tools.js"></script>{% endif %}
		<script defer src="/assets/base.js"></script>
	</head>
	<body>
		{% if userdata.powerlevel == 0 %}
			<div class="banner b-red">You have been banned. For more details see your personal user page.</div>
		{% endif %}
		<div class="top">
			<a href="/"><img class="picon" src="/assets/icon.png"/></a>
			<ul class="menu left">
				<li><a href="/forum/" class="btn">Forum</a></li>
				<li><a href="/forum/activeusers.php" class="btn">Active users</a></li>
				<li><a href="/forum/thread.php?time=86400" class="btn">Latest posts</a></li>
				{% if log %}
					<li><a href="/forum/private.php" class="btn">Private messages</a></li>
				{% endif %}
				<li>
					{% if log %}
						{{ userlink(userdata) }}
						{% if notification_count > 0 %}
							<span class="notifs">[{{ notification_count }}]</span>
						{% endif %}
					{% else %}
						<a href="/login.php">Login</a>
					{% endif %}
				</li>
			</ul>
		</div>
		{% block precontent %}{% endblock %}<br>
		<div class="home content{% if acmlm %} forum{% endif %}">
			{% block content %}{% endblock %}
		</div>{% if acmlm %}<br>{% endif %}
		<div class="footer">
			<a href="/about.php">About</a>
			<br>
			Running <a href="https://gitlab.com/2003tech/brickogameserver">brickogameserver</a>,
			on commit <a href="https://gitlab.com/2003tech/brickogameserver/commit/{{ git_commit(false) }}">{{ git_commit() }}</a><br>
			{{ profiler_stats() }}
		</div>
		{% block custom_footer %}{% endblock %}
	</body>
</html>
