{% extends "_layout.twig" %}

{% block title %}Home{% endblock %}

	{% block content %}
<h1 align="center">Brickogame</h1>
{% if newsid %}
	<h2>{{ news.title }}</h2>
	<p><em>Published on the {{ time }}</em></p>
	<p>{{ news.text | raw }}</p>
	<h2>Comments</h2>
	{{ comments(comments, 'index', news.id) }}
	<br>
{% else %}
	{% for news in news %}
		<a href="/index.php?id={{ news.id }}"><h2>{{ news.title }}</h2></a>
		<p>{{ news.text }}</p>
	{% endfor %}
{% endif %}
	{% endblock %}
