{% if log and userdata.powerlevel > 0 %}<form action="/_post_comment.php" method="POST">
	<input type="hidden" name="id" value="{{ id }}">
	<input type="hidden" name="t" value="{{ type }}">
	<textarea name="comment" class="comment-input" required></textarea>
	<br><input type="submit" value="Post" ></input>
	<em style="padding-left:10px">Inline markdown supported.</em>
</form><br>{% endif %}
<div class="comments">
	{% for cmnt in cmnts %}
		{% if not cmnt.deleted or userdata.powerlevel > 1 %}
			<div class="comment-entry {% if cmnt.deleted %}deleted{% endif %}" id="comment-{{ cmnt.id }}">
				{% if userdata.powerlevel > 1 %}
				<span class="delete">
					<a href="javascript:document.remove{{ cmnt.id }}.submit()" style="color:red">X</a>
					<form action="_post_comment.php" method="post" name="remove{{ cmnt.id }}">
						<input type="hidden" name="id" value="{{ id }}">
						<input type="hidden" name="t" value="{{ type }}">
						<input type="hidden" name="del" value="yes">
						<input type="hidden" name="cmnt" value="{{ cmnt.id }}">
					</form>
				</span>
				{% endif %}
				<span class="date" title="{{ cmnt.time | date('Y-m-d H:i:s') }}">{{ cmnt.time | relative_time }}</span>

				{{ userlink(cmnt, 'u_') }}: <span class="comment-text">{{ cmnt.message | markdown_inline | replace({'\n':'<br>'}) | raw }}</span>
			</div>
		{% endif %}
	{% endfor %}
</div>